{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="container mt-5">

<section class="d-flex justify-content-center align-items-center flex-column">
<h1 class="mt-5">Mes trois dernières créations</h1>
    <div class="row">
        {% for article in articles %}
           <div class="col-md-4 mb-4 p-5">
                <div class="card h-100 custom-card ">
                    {% if article.getImages() is not empty %}
                        <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ article.getImages().first().getNom()) }}" class="card-img-top img-fluid" alt="{{ article.getTitre }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ article.getTitre }}</h5>
                        <p class="card-text overflow-hidden" style="max-height: 100px; position: relative;">
                            {{ article.getDescription }}
                            {% if article.getDescription|length > 100 %}
                                <span style="position: absolute; bottom: 0; right: 0; background: white;">...</span>
                            {% endif %}
                        </p>
                        {% if article.getDate() %}
                            <p class="card-text">
                                Date de publication : {{ article.getDate()|date('Y-m-d') }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="card-footer">
                        <a class="nav-link" href="{{ path('app_voir_article', {'id': article.getId}) }}"><i class="bi bi-gear-fill fa-xs"></i>Voir la création</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </section>

    <!-- Bouton pour voir toutes les créations -->
    <div class="text-center mt-4">
        <a href="{{ path('app_all_article') }}" class="btn btn-primary">Voir toutes les créations</a>
    </div>
</div>
{% endblock %}
